div{
    display: inline-block;
    position: relative;


    
}
body{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5% ;

}
img{
    margin-bottom: 10%;
    position: relative;
    
}

.absolute{
    position: absolute;
    width: 35px;
    height: 20px;
    top: 0%;
    right: 0%;
}

.relative{
    position: relative;

}


.green{
    background-color: green;

}
.red{
    background-color: red;
}



.cuore{
    position: absolute;
    width: 35px;
    height: 20px;
    bottom: 10%;
    right: 40%;
    opacity: 0;
    
    
    
    
}

.cuore:hover {
    opacity: 1;
    
}

