div{
    display: inline-block;
    position: relative;


    
}
body{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5% ;

}
img{
    margin-bottom: 10%;
    position: relative;
    
}


.relative{
    position: relative;

}



/*sconti*/
.absolute{
    position: absolute;
    width: 35px;
    height: 20px;
    top: 0%;
    right: 0%;
}


.sconto30{
    background-color: green;

}

.sconto5{
    background-color: red;
}

/*cuore a comparsa*/
.cuore{
    position: absolute;
    width: 35px;
    height: 20px;
    bottom: 10%;
    right: 40%;
    opacity: 0;
    
    
    
    
}

.cuore:hover {
    opacity: 1;
    color: red;
    
}

